/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: 'Viga', sans-serif;
    font-size: 32px;
}



/* Jumbroton */
.jumbotron {
    background-image: url(../img/aa_cell.jpg);
    background-size: cover;
    height: auto;
    width: 1400px;
    text-align: center;
    position: relative;
}

.jumbotron .container {
    z-index: 1;
    position: relative;
}

.jumbotron::after {
    margin-left: -12px;
    padding: 0;
    content: '';
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
}

.jumbotron .display-5 {
    color: white;
    margin-top: 350px;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 36px;
    padding-right: 150px;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}


/* Info Panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    margin-top: -75px;
    background-color: white;
    position: relative;
    padding: 30px;
}

.info-panel h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px;
}

.info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: bold;
}

.info-panel img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* workingspace */
.workingspace {
    margin-top: 120px;
    text-align: center;
}

.workingspace p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 30px 0;
}

.workingspace h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 30px;
}

.workingspace h3 span {
    font-weight: 500;
}

/* Testimonial */
.testimonial {
    margin-top: 120px;
}

.testimonial h5 {
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}

.testimonial figure img {
    width: 60px;
    margin: 20px 10px 5px;
    opacity: 0.6;
}

.testimonial figure h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    color: #1c2c5d;
}

.testimonial p {
    font-size: 12px;
    color: #acacac;
    text-align: center;
    margin-top: -5px;
}

.testimonial figcaption {
    text-align: center;
}

.testimonial figure img.utama {
    width: 90px;
    opacity: 1;
    margin-top: 5px;
}


/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40%;
}





/* DESKTOP VERSION */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }

    .navbar-brand {
        color: #0b52d7 !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }


    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -75px;
        height: 640px;
    }

    .jumbotron .display-5 {
        font-size: 62px;
    }

    .workingspace {
        text-align: left;
    }

    .testimonial h5 {
        font-size: 32px;
    }
}